body {
  background: #fefefe;

}

section {
  background: white;
}

p {
  color: black;
}

.heading {
  color: darkgoldenrod;
}

.mini-heading {
  color: crimson;
}

.main-header {
  color: black;
}

.middle-header {
  color: black;
}

.main {
  width: 1000px;
  margin: auto;

}

.navigation {
  width: 7%;
  margin: auto;

} 

.navigation__link--left {
  

}

.navigation__link {



}

.footer {
  width: 10%;
  margin: auto;
}