body {
  background: white;
}

p {
  color: black;
}

  

.main__header--first {
  color: black;
  min-width: 100px;
  margin: auto;
}

.main__header--second {
  color: darkgoldenrod;
}

.main__header--third {
  color: crimson;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.navigation {
  height: 30px;
}

.navigation__link {
  color: black;
}

.footer {
  width: 10%;
  margin: auto;
}